html, body {  
    
    margin: 0px;
    padding: 0px; 
    background-color: rgb(155, 51, 51);
    
  }
  
.barraSuperior {
    overflow: hidden;
    background-color:rgba(197, 35, 35, 0.836);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 60px;
    z-index: 100;
}

.buttonLogin{

   color: rgb(255, 255, 255);
   background-color:rgb(141, 16, 16);
   font-size: 19px;
   font-family: "Helvetica Neue","Helvetica,Arial";
   width: 7%;
   height: 60%;
   float: right;
   margin-right: 30px;
   margin-top: 12px;
   margin-left: 20px;
}

.redes{
    
    float: right;
    margin-right: 10px;
    margin-top: 15px;
    
}

.marca{
    float: left;
    margin-left: 25px;
    margin-top: 10px;
    height: 70%;
    width: 5%;
    

}

.portada{
    max-width: 100vw;
    max-height: 100vh;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

.acercaDe{

    background-color: rgb(155, 51, 51);
    height:300px;
    padding-top: 2%;
    padding-left: 3%;
    
}

.proyectos{

    background-color: rgb(155, 51, 51);
    height:700px;
    padding-top: 2%;
    padding-left: 3%;
}

.habilidades{
    background-color: rgb(155, 51, 51);
    height:400px;
    padding-top: 2%;
    padding-left: 3%;

}