html, body {  
    
    margin: 0px;
    padding: 0px; 
    background-color: rgb(155, 51, 51);
    
  }
  
.barraSuperior {
    overflow: hidden;
    background-color:rgba(177, 59, 59, 0.897);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 60px;
    z-index: 100;
    
}


.buttonNavegacion{

    color: white;
    background-color: black;
    font-size:14px;
    font-family: "Helvetica Neue","Helvetica,Arial";
    width: 7%;
    height: 60%;
    margin-right: 30px;
    margin-top: 12px;
    margin-left: 20px;
    border-color: rgb(255, 255, 255);

}

.buttonLogin{

   color: rgb(255, 255, 255);
   background-color:rgb(141, 16, 16);
   font-size: 19px;
   font-family: "Helvetica Neue","Helvetica,Arial";
   width: 7%;
   height: 60%;
   float: right;
   margin-right: 30px;
   margin-top: 12px;
   
}

.redes{
    
    float: right;
    margin-right: 25px;
    margin-top: 15px;
    
    
}

.marca{
    float: left;
    margin-left: 25px;
    margin-top: 10px;
    height: 70%;
    width: 5%;
    

}

footer{

    background-color: rgb(100, 41, 41);
    height: 60px;
}

.portada{
    max-width: 100vw;
    max-height: 100vh;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

.acercaDe{

    background-color: rgb(155, 51, 51);
    height:400px;
    padding-top: 2%;
    padding-left: 3%;
    
}

.proyectos{

    background-color: rgb(155, 51, 51);
    height:700px;
    padding-top: 2%;
    padding-left: 3%;
}

.login {
    height: 450px;
    background-color: rgb(20, 14, 14);
    padding-top: 2%;
    padding-left: 3%;
}
.contacto{
    height: 550px;
    background-color: rgb(20, 14, 14);
    padding-top: 2%;
    padding-left: 3%;
}

.skills{
    background-color: rgb(20, 14, 14);
    height:400px;
    padding-top: 2%;
    padding-left: 3%;
}


.progreso {
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;

}

.progreso::after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 15px solid #f2f5f5;
    position: absolute;
    top: 0;
    left: 0;

}

.progreso > span{

    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;

}



.progreso .progreso-left{

    left: 0;

}

.progreso .progreso-bar{

    width: 100%;
    height: 100%;
    background: none;
    border-width: 15px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progreso .progreso-left .progreso-bar{

    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    transform-origin: center left;
    -webkit-transform-origin: center left;

}

.progreso .progreso-right{

    right: 0;

}

.progreso .progreso-right .progreso-bar{

    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    transform-origin: center right;
    -webkit-transform-origin: center right;
    animation: loading-1 1.8s linear forwards;

}

.progreso .progreso-value{
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: rgb(250,245,245);
    text-align: center;
    position: absolute;

}

.lenguaje{
     
     padding-top: 4px;
     font-size: 24px;
     color: rgb(250,245,245);
     text-align: center;
}

.progreso.blue .progreso-bar{
    border-color: rgb(48, 48, 156);
}

.progreso.blue .progreso-left .progreso-bar{
    animation: loading-2 1.5s linear forwards 1.8s;

}


.progreso.yellow .progreso-bar{
    border-color: rgb(163, 154, 22);
}

.progreso.yellow .progreso-left .progreso-bar{
    animation: loading-3 1.5s linear forwards 1.8s;

}

.progreso.pink .progreso-bar{
    border-color: rgb(161, 46, 100);
}

.progreso.pink .progreso-left .progreso-bar{
    animation: loading-4 1.5s linear forwards 1.8s;

}

.progreso.red .progreso-bar{
    border-color: rgb(136, 33, 33);
}

.progreso.red .progreso-left .progreso-bar{
    animation: loading-3 1.5s linear forwards 1.8s;

}

.progreso.green .progreso-bar{
    border-color: rgb(58, 138, 34);
}

.progreso.green .progreso-left .progreso-bar{
    animation: loading-5 1.5s linear forwards 1.8s;

}

@keyframes loading-1{

    0%{
        -webkit-transform: rotate(0deg);

    }

    100%{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
}

@keyframes loading-2{

    0%{
        -webkit-transform: rotate(0deg);

    }

    100%{
        transform: rotate(144deg);
        -webkit-transform: rotate(144deg);
    }
}


@keyframes loading-3{

    0%{
        -webkit-transform: rotate(0deg);

    }

    100%{
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }
}

@keyframes loading-4{

    0%{
        -webkit-transform: rotate(0deg);

    }

    100%{
        transform: rotate(36deg);
        -webkit-transform: rotate(36deg);
    }
}

@keyframes loading-5{

    0%{
        -webkit-transform: rotate(0deg);

    }

    100%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}

.contactoContainer{

    background-color: rgba(180, 51, 51, 0.897);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 40%;
    height: 80%;
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 0px;
   

}



ul{
    

    list-style:none;
    padding-top: 3%;

}

li{
    padding-top: 2%;
    margin-top: 1%;
    margin-left: 22%;
}


.textoEmail{
    
    margin-right: 14px;
}


.textArea{
    margin-top: 2%;
    width: 250px;
    height: 110px;
}

.btn{

    margin-top: 10px;
    margin-left:35%;
    background-color: rgb(94, 26, 26);
    color: rgb(212, 212, 212);
    border-radius: 3px;
    height: 30px;
    width: 80px;
    
}

.loginContainer{
    background-color: rgba(180, 51, 51, 0.897);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 40%;
    height: 40%;
    border-radius: 10px;
    margin-left: 27%;
    margin-top: 0px;
    

}